/* latin */
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
	cursor: default;
  font-family: 'Inconsolata', 'Noto Sans TC', sans-serif;
}
body {
  background-color: rgba(64, 64, 64, 5);
  color: white;
  font-family: 'Inconsolata', 'Noto Sans TC', sans-serif;
  font-size: 25px;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  height: 15vh;
  border-radius: 10px 10px 10px 10px;
}

select {
  background-color: rgba(64, 64, 64, 5);
  color: white;
  font-family: 'Inconsolata', 'Noto Sans TC', sans-serif;
  font-size: 25px;
  overflow: hidden;
  width: 6em;
  height: 30px;
  border-radius: 0px;
  border-width: 0px;
}

input {
  background-color: rgba(64, 64, 64, 5);
  color: white;
  font-family: 'Inconsolata', 'Noto Sans TC', sans-serif;
  font-size: 25px;
  overflow: hidden;
  width: 6em;
  border-radius: 0px;
  border-width: 0px;
}

.button-start {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 4em;
  cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.button-btn1 {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.button-btn1 span {
  transition: all 0.3s;
}
.button-btn1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.button-btn1:hover span {
  letter-spacing: 2px;
}
.button-btn1:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.button-btn1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.button-btn1:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

#lowerleft{
    margin-bottom: 1px;
    margin-left : 1px;
    display: block;
    bottom: 1;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
}